@import "variables";

#content {
  overflow: hidden;
  height: auto;
  margin-bottom: 20%;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-left: 10.5%;
  margin-top: 10%;
}

.card {
  flex: 0 0 20%;
  margin: 1%;
  height: 23vw;
}

.card:hover {
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  outline: 0.2vw solid $important-text-color;
  box-shadow: 0.3vw 0.3vw 0.3vw grey;
  border-radius: 1.5%;
}

.card.is-flipped .card-inner {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.card-img {
  width: 100%;
  border-top-right-radius: 2%;
  border-top-left-radius: 2%;
}

.container {
  text-align: center;
  font-size: 0.8vw;
}

.card-button, .github-button, .website-button {
  text-decoration: none;
  color: white;
  background-color: $important-text-color;
  padding: 2%;
  font-size: 1vw;
  border-radius: 10%;
  margin: 2%;
}

.buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 5%;
}

.time-period {
  color: $grey-text-color;
}

.project-title {
  margin-top: 6%;
  font-size: 1vw;
  text-decoration: underline;
}

.project-description {
  text-align: left;
  margin: 7% 7% 0;
  text-indent: 1vw;
  font-size: 0.9vw;
}

@media (max-width: 1200px) {
  .card {
    flex: 0 0 26%;
    margin-bottom: 9%;
  }

  .card-inner {
    height: 132%;
    outline: 0.35vw solid $important-text-color;
    box-shadow: 0.4vw 0.4vw 0.4vw grey;
  }

  .container {
    font-size: 1.1vw;
  }

  .project-title {
    font-size: 1.3vw;
  }

  .project-description {
    text-indent: 1.3vw;
    font-size: 1.15vw;
  }

  .card-button, .github-button, .website-button {
    font-size: 1.3vw;
  }
}

@media (max-width: 800px) {
  .card {
    flex: 0 0 40%;
    margin-bottom: 29%;
  }

  .card-inner {
    height: 205%;
    outline: 0.4vw solid $important-text-color;
    box-shadow: 0.6vw 0.6vw 0.6vw grey;
  }

  .container {
    font-size: 1.7vw;
  }

  .project-title {
    font-size: 1.9vw;
  }

  .project-description {
    text-indent: 2vw;
    font-size: 1.8vw;
  }

  .card-button, .github-button, .website-button {
    font-size: 1.9vw;
  }
}