---
layout: main-layout.njk
title: Education
---

<body onload="updateBottomDivPosition();">
<script type="text/javascript" src="/_scripts/home.js"></script>
<div id="content">
    {% navigation %}
</div>
{% bottom_toolbar %}
</body>