---
layout: main-layout.njk
title: Projects
---

<body onload="updateBottomDivPosition();">
<link href="/_styles/projects.css" rel="stylesheet" type="text/css" />
<script src="https://kit.fontawesome.com/5cd5a310fa.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/_scripts/home.js"></script>
<div id="content">
    {% navigation %}
    {% project_cards %}
</div>
{% bottom_toolbar %}
<script type="text/javascript" src="/_scripts/projects.js"></script>
</body>