---
layout: main-layout.njk
title: Infinite Trolley Problems
---

<body onload="updateBottomDivPosition();">
<link href="/_styles/projects/main.css" rel="stylesheet" type="text/css" />
<link href="/_styles/projects/infinite-trolley-problems.css" rel="stylesheet" type="text/css" />
<script src="https://kit.fontawesome.com/5cd5a310fa.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/_scripts/home.js"></script>
<div id="content">
    {% navigation %}
    <div id="project-title">{{ title }}</div>
    <video id="demo-video" width="640" height="360" poster="/_images/projects/hacks.png" controls>
        <source src="/_videos/Hacks 2023.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
{% bottom_toolbar %}
</body>